{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    

</head>
<body>
    {% include 'header.html' %}
    
    <div class="createprofilebody">
      <h1>HỒ SƠ ĐĂNG KÝ KINH DOANH</h1>
      <div class="formimportpicture">
        <div style="display: flex;align-items: center;justify-content: center; width: 100%;cursor:pointer;">
          <div id="dropArea" ondragover="allowDrop(event)" ondrop="drop(event)" style="overflow: hidden;text-align: center; width: 60%; height:250px;align-items: center;justify-content: center;/*border-style: dashed;border-width: 2px;border-radius: 0.75rem;padding: 1rem;*/position: relative;">
            <div style="display: flex;justify-content: center; align-items: center;"><img src="{% static 'icon/Picture.png' %}" alt="err" style="width: 180px; height: 180px;"></div>
            <header style="font-size: 1.125rem; display: flex;justify-content: center; align-items: center;">Kéo thả để tải lên
            </header>
            <span style="color: #cbd5e0;font-size: 0.875rem;">Hỗ trợ: PNG, JPG, JPEG, WEBP</span>
            <input type="file" hidden name="" id="loadpicture" onchange="onchangepic()">
          </div>
        </div>
        <div style="width: 550px; height: 30px; justify-content: flex-start; align-items: center; gap: 7px; display: inline-flex">
          <div style="flex: 1 1 0; height: 0px; border: 1px #E8EBF2 solid"></div>
          <div style="color: #959DB2; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 11.52px; word-wrap: break-word">or</div>
          <div style="flex: 1 1 0; height: 0px; border: 1px #E8EBF2 solid"></div>
        </div>
        <div style="display: flex;align-items: center;justify-content: center;">
        <button type="button" class="importpicture" id="clickload" onclick="load()" ><img src="{% static 'icon/laptop.png' %}" alt="err" style="margin-right: 10px; "> <span >Tải lên máy tính</span></button>
      </div>
      <div id="image-preview"></div>
      <div id="image-details"></div>
        <!--<p>Tải lên ảnh CCCD/ CMND</p>
        <div style="display: flex;align-items: center;justify-content: center; width: 100%;cursor:pointer;">
        <div id="dropArea" ondragover="allowDrop(event)" ondrop="drop(event)" style="overflow: hidden;text-align: center; width: 60%; height:250px;align-items: center;justify-content: center;border-style: dashed;border-width: 2px;border-radius: 0.75rem;padding: 1rem;position: relative;">
          <div style="display: flex;justify-content: center; align-items: center;"><img src="{% static 'icon/Picture.png' %}" alt="err" style="width: 150px; height: 150px;"></div>
          <header style="font-size: 1.125rem; display: flex;justify-content: center; align-items: center;">Kéo thả để tải file lên, hoặc '<button style="color: #4299e1;text-decoration: underline; border: none;" id="clickload" onclick="load()" >chọn file</button> '
          </header>
          <span style="color: #cbd5e0;font-size: 0.875rem;">Hỗ trợ: PNG, JPG, JPEG, WEBP</span>
          <input type="file" hidden name="" id="loadpicture">
        </div>
      </div>
      <div id="image-preview"></div>
      <div id="image-details"></div>
        <div style="width: 550px; height: 30px; justify-content: flex-start; align-items: center; gap: 7px; display: inline-flex">
          <div style="flex: 1 1 0; height: 0px; border: 1px #E8EBF2 solid"></div>
          <div style="color: #959DB2; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 11.52px; word-wrap: break-word">or</div>
          <div style="flex: 1 1 0; height: 0px; border: 1px #E8EBF2 solid"></div>
        </div>
        <p>Thêm đường dẫn</p>
        <input style="margin-left:0px; width: 477px; height: 40px; position: relative; background: #F1F4F9; border-radius: 6px; overflow: hidden"type="text" placeholder="Nhập đường dẫn ..." id="image-url">
        <button type="button" class="inportimagebtn" id="inportimagebtn" style="height: 40px;border-radius: 6px;" onclick="showImage()">Nhập ảnh</button>
          
        <div class="buttonprofile">
          <p>Trung tâm trợ giúp</p>
          <button type="button" class="cancelbtn" id="cancelbtn" onclick="deletebtn()">Xóa</button>
          <button type="button" class="donebtn" id="donebtn" ><a href="#infor" style="text-decoration: none; color: #00BCD4;">Tạo</a></button>
        </div>-->
      </div>
      <div class="imageupload"  id="dropArea">
        
      </div>

        <div class="infor" id="infor">
          <h5>Điền đầy đủ các thông tin sau đây: </h5>
          <input type="text" class="name" id="name" name="name" placeholder="Tên của bạn ...">
          <input type="text" class="email" id="email" name="email" placeholder="Email ..."><p></p>
          <input type="text" class="numberphone" id="numberphone" name="numberphone" placeholder="Số điện thoại ...">
          <input type="company" class="company" id="company" name="company" placeholder="Công ty ..."><p></p>
          <textarea type="text" class="message"id="message" name="message" placeholder="Ghi chú ..."></textarea><p></p>
          <div class="checkbox">
            <input type="checkbox" class="privacy" id="privacy" name="privacy"><span>Tôi đã đọc và chấp nhận 
              <a style="color: #4299e1; text-decoration: underline">Điều khoản dịch vụ & Chính sách quyền riêng tư</a></span>
              <button type="createbtn" class="createbtn" id="createbtn" >
                Tạo 
                <img src="{% static 'icon/send.png' %}" alt="err" width="18px" height="18px" style="position: relative;top: 3px;left: 7px;">
              </button>
          </div>
        </div>
    </div>
    {% include 'footer.html' %}
    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>