{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    <!-- <meta name="csrf-token" content="{{ csrf_token }}" /> -->

</head>
<body onload="setMinDateForDateInput()">
    {% include 'header.html' %}
    
    <div class="createprofilebody">
      <h1>HỒ SƠ ĐĂNG KÝ KINH DOANH</h1>
      <div class="formimportpicture" id="formimportpicture">
        {% csrf_token %}
        <h3>Tải lên ảnh CCCD</h3>
        <div style="display: grid;align-items: center;justify-content: center; width: 100%;position: relative;">
          <div id="dropArea" ondragover="allowDrop(event)" ondrop="drop(event)" ondragleave="dragLeave(event)" style="border-radius: 3.18mm;overflow: hidden;text-align: center;width: 85.6mm;height: 54.98mm;border: 3px dashed #000;align-items: center;justify-content: center;position: relative;cursor:pointer;">
            <div style="display: flex;justify-content: center; align-items: center;"><img src="{% static 'img/cccd.png' %}" alt="err" style="width: 100%; height: 100%;" class="imgcccd">
              <div style="font-size: 1.5rem; justify-content: center; align-items: center;transform: translate(0%, -50%);position: absolute;" id="dragText" hidden>Kéo thả để tải lên
              </div>
              <span style="color: #858585;font-size: 0.875rem;transform: translate(0%, 45%);position: absolute;" class="textcccd" hidden>Hỗ trợ: PNG, JPG, JPEG, WEBP</span></div>
            
            <input type="file" hidden name="" id="loadpicture" onchange="onchangepic()" accept="image/*">
          </div>
        </div>
        <div style="width: 550px; height: 30px; justify-content: flex-start; align-items: center; gap: 7px; display: inline-flex">
          <div style="flex: 1 1 0; height: 0px; border: 1px #E8EBF2 solid"></div>
          <div style="color: #959DB2; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 11.52px; word-wrap: break-word">or</div>
          <div style="flex: 1 1 0; height: 0px; border: 1px #E8EBF2 solid"></div>
        </div>
        <div style="display: flex;align-items: center;justify-content: center;">
        <button type="button" class="importpicture" id="clickload" onclick="load()" ><img src="{% static 'icon/laptop.png' %}" alt="err" style="margin-right: 10px; "> <span >Tải lên máy tính</span></button>
      </div>
      <p></p>
      <div id="image-preview"></div>
      <div id="image-details"></div>
        <button class="createbtn" id="donebtn" onclick="next()"><a >Tiếp theo</a></button> 
        <p style="color: red; display: none;" id="message">* Chưa tải bất kỳ hình ảnh nào</p>
      </div>
      
      <div class="imageupload"  id="dropArea">
      </div>
      
      <div class="selectprofiletype" id="selectprofiletype">
        <h1> Chọn loại hồ sơ</h1>
        <div id="checkbox-container" class="checkbox-container" style="text-align: left;margin-left: 10%;margin-bottom: 20px;">
          <input type="radio" id="checkbox1" name="checkbox" value="option1"> Thành lập mới<br>
          <input type="radio" id="checkbox2" name="checkbox" value="option2"> Đăng ký thay đổi<br>
          <input type="radio" id="checkbox3" name="checkbox" value="option3"> Thông báo thay đổi<br>
          <input type="radio" id="checkbox1" name="checkbox" value="option4"> Tạm ngừng kinh doanh<br>
          <input type="radio" id="checkbox2" name="checkbox" value="option5"> Tiếp tục kinh doanh trước thời hạn<br>
          <input type="radio" id="checkbox2" name="checkbox" value="option6"> Giải thể danh nghiệp<br>
          <input type="radio" id="checkbox3" name="checkbox" value="option7"> Trường hợp khác<br>
          <!--<button class="createbtn" id="submitBtn" onclick="first_select()" ><a >Tiếp theo</a></button>-->
        </div>
        <div id="image-details"></div>
        <button class="createbtn" id="nextoptionbtn" onclick="nextoption()">Tiếp theo</button> 
        <p style="color: red; display: none;" id="messageoption">* Chưa chọn loại hồ sơ</p>
      </div>
      </div>

      <div id="myModal" class="modal">
        <div class="modal-content">
            <h2>Nhắc nhở</h2>
            <p>Nếu bạn nhấn tiếp tục sẽ không quay lại được. Bạn có muốn tiếp tục không ?</p>
            <button id="confirmButton" onclick="confirmButton()">Tiếp tục</button>
            <button id="cancelButton" onclick="cancelButton()">Quay lại</button>
        </div>
    </div>

        
      <div class="infordiv">
        {% include 'bieumaudangkykinhdoanh/tnhh1tv/thanhlapmoi/tunhan.html' %}
    </div>
    {% include 'footer.html' %}
    
    
</body>
</html>