{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>

</head>
<body>
    {% include 'header.html' %}
    
    <div class="error">
        <div class="left">
            <div class="div404"><div>404</div></div>
        </div>
        
        <div class="right">
            <div style="width: 2px; height: 200px;background-color: rgb(203, 203, 203); margin-right: 10%;"></div>
            <div style="flex-direction: column;display: flex;align-items: center;justify-content: center;">
                <h1>This page could not be found</h1>
                <div style="margin-bottom: 70px;">You can either stay and chill here, or go back to the beginning.</div>
                <button type="button" id="backtohome" class="backtohome" onclick="backtohome();">BACK TO HOME</button>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    
</body>
</html>