{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">⇧</button>
    <div class="footer">  
        <div class="col01 col"> 
            <img src="{% static 'img/AIBUS2.jpg' %}" alt="logo" >
            <div>Khách hàng không đợi bạn, đồng nghiệp không đợi bạn, cơ hội không đợi bạn, thời gian không đợi bạn, thị trường cũng không đợi bạn!</div>
            <div>© AIBUS Theme 2024</div>
        </div>
        <div class="col02 col"> 
            <h1>DỊCH VỤ TẠO HỒ</h1>
            
            <h3>Đăng ký kinh doanh</h3>
            <h3>Thay đổi kinh doanh</h3>
            <h3>Tạm dừng kinh doanh</h3>
            
            
        </div>
        <div class="col03 col"> 
            <h1>BẢO MẬT THÔNG TIN</h1>
            <h3>Nhanh chóng - Chính xác</h3>
            <h3>Linh hoạt - Tiện lợi</h3>
            <h3>Tự động bởi AI</h3>
            <h3>Quy trình đơn giản</h3>
            <h3>Tiết kiệm chi phí</h3>
            <h3>Chủ động thời gian</h3>
        </div>
        <div class="col04 col"> 
            <h1>KIẾN THỨC</h1>
            <h3>Bài viết</h3>
            <h3>Hướng dẫn tạo hồ sơ</h3>
            <h3>Kiến thức pháp luật</h3>
            <h3>Cập nhật quy định mới</h3>
            <h3>Kiến thức kinh doanh</h3>
        </div>
        <div class="col05 col">
            <h1>LIÊN HỆ</h1>
            <div style="font-size: 13px;margin-bottom: 10px;">Sđt : 036 239 7181</div>
            <div style="font-size: 13px;margin-bottom: 25px;"> Email: aibus.vn@gmail.com</div>
            <div style="display: flex;">
                <a href="https://www.facebook.com/people/AIBUS/61558509689542/"><img src="{% static 'icon/facebook.png' %}" alt="logo"></a>
                <a href="https://www.tiktok.com/@ai_business_registration?is_from_webapp=1&sender_device=pc"><img src="{% static 'icon/tik-tok.png' %}" alt="logo"></a>
                <a href="https://www.instagram.com/aibus.vn/?igsh=eHRtZm01d3Z5NnNm"><img src="{% static 'icon/instagram.png' %}" alt="logo"></a>
                <a href="https://www.youtube.com/@aibusvn"><img src="{% static 'icon/youtube(1).png' %}" alt="logo"></a>
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>