{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
  <a class="logo" href="/"><img src="{% static './img/AIBUS2.jpg' %}" alt="logo" width="200" height="200" style="margin-top: -85px;"></a>
  <div class="topnav" id="myTopnav">
   <a class="active" href="http://127.0.0.1:8000/">Giới thiệu</a>
    <a href="#services">Dịch vụ</a>
    <a href="#expertise">Kinh nghiệm</a>
    <a href="#casestudy">Kiến thức</a>
    <a href="recruitment">Tuyển dụng</a>
    <a href="login">Đăng nhập / Đăng ký</a>
    
    <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa-solid fa-gear"></i></a>
  </div>
</div>
</body>
</html>