{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    
</head>
<body>
    <div class="background" hidden>
        <div class="vuong300 bg00BCD4 pos01"></div>
        <!-- <div class="vuong200 bg2196F3 pos02"></div> -->
        <div class="vuong150 bg00BCD4 pos03"></div>
        <div class="vuong300 bg2196F3 pos04"></div>
        <div class="vuong1300 bg2196F3 pos05"></div>
        <!-- <div class="vuong300 bg00BCD4 pos06"></div> -->
        <div class="vuong200 bg2196F3 pos07"></div>
    </div>
    {% include 'header.html' %}
    <div class="maincontent">
        <div class="banner">
            <h1 class="title" style="font-size: 45px; font-weight:bold; color: rgb(4, 120, 214);">TẠO HỒ SƠ ĐĂNG KÝ KINH DOANH</h1>
            <h2 class="describe" style="font-size: 20px;">
                <span >>>></span> Tạo nhanh hồ sơ đăng ký kinh doanh cho doanh nghiệp mới.<p></p>
                <span style="margin-left: -70px;">>>></span>Tạo hồ sơ đăng ký thay đổi thông tin doanh nghiệp.</h2>
            <div class="createprofile">
                <button type="button" class="createprofile" id="createprofile">
                    Tạo hồ sơ
                    <img src="{% static 'icon/send-message.png' %}" alt="err">
                </button>
                <button type="button" class="editprofile" id="editprofile">
                    Sửa hồ sơ
                    <img src="{% static 'icon/send-message.png' %}" alt="err">
                </button>
            </div>
        </div>
        <div class="about" id="about">
            <div class="left">
                <div class="artwork">
                    <div class="aboutdecor"><span>Giới thiệu</span></div>
                    <div class="mask01" style="overflow: hidden;">
                        <img src="https://images.pexels.com/photos/2041627/pexels-photo-2041627.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="err" style="object-fit: cover;width: 100%;height: 100%;">
                    </div>
                    <div class="mask02" style="overflow: hidden;">
                        <img src="https://images.pexels.com/photos/8512442/pexels-photo-8512442.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="err" style="object-fit: cover;width: 150%;height: 150%;transform: rotate(-45deg);position: relative;top:-30px;left: -30px;">
                    </div>
                    <div class="mask03" style="overflow: hidden;">
                        <img src="https://images.pexels.com/photos/9909077/pexels-photo-9909077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="err" style="object-fit: cover;width: 170%;height: 170%;transform: rotate(-45deg);position: relative;top:-30px">
                    </div>
                </div>
            </div>
            <div class="right">
                <h1><span style="color: #2196F3;">AIBUS</span> tiên phong trong lĩnh vực tạo hồ sơ đăng ký kinh doanh hiệu quả</h1>
                <div class="counter">
                    <div class="empleyee">
                        <h3>+200</h3>
                        <div></div>
                        Thành viên
                    </div>
                    <div class="projects">
                        <h3>+200</h3>
                        <div></div>
                        Hồ sơ
                    </div>
                    <div class="clients">
                        <h3>+200</h3>
                        <div></div>
                        Doanh nghiệp
                    </div>
                </div>
                <h2 style="text-indent: 20px;">    Hồ sơ đăng ký kinh doanh đóng vai trò quan trọng và cần thiết mang tính pháp lý bắt buộc, 
                    thể hiện sự công nhận sự ra đời của một doanh nghiệp. 
                    Tuy nhiên, các doanh nghiệp gặp rất nhiều khó khăn trong quá trình tạo hồ sơ làm kéo dài thời gian vô ích. 
                    Chính vì vậy, chúng tôi đã xây dựng nên hệ thống tạo bộ hồ sơ đăng ký kinh doanh chuyên nghiệp, đơn giản, nhanh chóng và chính xác.
                    
                    <p></p>
                       Chúng tôi giúp khách hàng tiết kiệm thời gian và chi phí để làm hồ sơ đăng ký kinh doanh và thay đổi thông tin doanh nghiệp.</h2>
            </div>
        </div>
        <div  id="services">
            <h1 style="font-size: 45px;text-align: center; color: #2196F3;"> Dịch vụ của chúng tôi</h1>
            
                <div class="slideshow-container">
                    <div class=" mySlider fade" style="display: none;">
                        <div class="detail01">
                            <img src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="err">
                            <h1>Tạo hồ sơ đăng ký kinh doanh cho công ty TNHH 1 thành viên</h1>
                            
                            <button type="button" class="seedetail" id="seedetail">Chi tiết</button>
                        </div>
                        <div class="detail01">
                            <img src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="err">
                            <h1>Tạo hồ sơ đăng ký kinh doanh cho công ty TNHH 1 thành viên</h1>
                            
                            <button type="button" class="seedetail" id="seedetail">Chi tiết</button>
                        </div>
                        <div class="detail01">
                            <img src="https://images.pexels.com/photos/188035/pexels-photo-188035.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="err">
                            <h1>Tạo hồ sơ đăng ký kinh doanh cho công ty TNHH 2 TV trở lên</h1>
                            
                            <button type="button" class="seedetail" id="seedetail">Chi tiết</button>
                        </div>
                        <div class="detail01">
                            <img src="https://images.pexels.com/photos/3184428/pexels-photo-3184428.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="err">
                            <h1>Tạo hồ sơ đăng ký kinh doanh cho công ty cổ phần</h1>
                            
                            <button type="button" class="seedetail" id="seedetail">Chi tiết</button>
                        </div>
                    </div>
                    <div class="mySlider fade "style="display: none;">
                        <div class="detail01">
                            <img src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="err">
                            <h1>Tạo hồ sơ đăng ký kinh doanh cho công ty TNHH 1 thành viên</h1>
                            
                            <button type="button" class="seedetail" id="seedetail">Chi tiết</button>
                        </div>
                        <div class="detail01">
                            <img src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="err">
                            <h1>Tạo hồ sơ đăng ký kinh doanh cho công ty TNHH 1 thành viên</h1>
                            
                            <button type="button" class="seedetail" id="seedetail">Chi tiết</button>
                        </div>
                        <div class="detail01">
                            <img src="https://images.pexels.com/photos/188035/pexels-photo-188035.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="err">
                            <h1>Tạo hồ sơ đăng ký kinh doanh cho công ty TNHH 2 TV trở lên</h1>
                            
                            <button type="button" class="seedetail" id="seedetail">Chi tiết</button>
                        </div>
                        <div class="detail01">
                            <img src="https://images.pexels.com/photos/3184428/pexels-photo-3184428.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="err">
                            <h1>Tạo hồ sơ đăng ký kinh doanh cho công ty cổ phần</h1>
                            
                            <button type="button" class="seedetail" id="seedetail">Chi tiết</button>
                        </div>
                    </div>
                    <div class="mySlider fade"style="display: none;">
                        <div class="detail01">
                            <img src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="err">
                            <h1>Tạo hồ sơ đăng ký kinh doanh cho công ty TNHH 1 thành viên</h1>
                            
                            <button type="button" class="seedetail" id="seedetail">Chi tiết</button>
                        </div>
                        <div class="detail01">
                            <img src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="err">
                            <h1>Tạo hồ sơ đăng ký kinh doanh cho công ty TNHH 1 thành viên</h1>
                            
                            <button type="button" class="seedetail" id="seedetail">Chi tiết</button>
                        </div>
                        <div class="detail01">
                            <img src="https://images.pexels.com/photos/188035/pexels-photo-188035.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="err">
                            <h1>Tạo hồ sơ đăng ký kinh doanh cho công ty TNHH 2 TV trở lên</h1>
                            
                            <button type="button" class="seedetail" id="seedetail">Chi tiết</button>
                        </div>
                        <div class="detail01">
                            <img src="https://images.pexels.com/photos/3184428/pexels-photo-3184428.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="err">
                            <h1>Tạo hồ sơ đăng ký kinh doanh cho công ty cổ phần</h1>
                            
                            <button type="button" class="seedetail" id="seedetail">Chi tiết</button>
                        </div>
                    </div>
                    <a class="prev" onclick="plusSlider(-1)">❮</a>
                    <a class="next" onclick="plusSlider(1)">❯</a>
                  </div>
                  
            
        </div>
        <div class="ourexpertise" id="expertise">
            <div class="left">
                <div class="illustration">
                    <div class="rectangle01"></div>
                    <div class="rectangle02"></div>
                    <div class="rectangle03"></div>
                    <div class="rectangle04">
                        <span class="textexper">CHÍNH SÁCH</span>
                    </div>
                </div>
                <img src="{% static 'icon/camera.png' %}" alt="err" class="cameraicon">
                <img src="{% static 'icon/youtube.png' %}" alt="err" class="youtubeicon">
                <img src="{% static 'icon/mail.png' %}" alt="err" class="mailicon">
                <img src="{% static 'icon/star.png' %}" alt="err" class="staricon">
                <img src="{% static 'icon/tack.png' %}" alt="err" class="tackicon">
                <img src="{% static 'icon/hotspot.png' %}" alt="err" class="hotspoticon">
                <img src="{% static 'icon/time.png' %}" alt="err" class="timeicon">
            </div>
            <div class="right">
                <div class="titlexper">
                    AN TOÀN - HIỆU QUẢ - TIẾT KIỆM - THÂN THIỆN
                </div>
                <div class="describe">
                    <ul style="font-size: 18px;">
                        <li>Đảm bảo an toàn - bảo mật tuyệt đối. Hồ sơ linh hoạt theo từng loại hình doanh nghiệp.</li>
                        <li>Nhanh chóng - dễ dàng. Mọi lúc- mọi nơi.</li>
                        <li>Hoàn toàn tự động bởi AI.</li>
                        <li>Hồ sơ thông tin của bạn không lưu trên hệ thống!</li>
                        <li>Bạn có quyền chọn lựa sự tiện lợi, nhanh chóng và bảo mật!</li>
                    </ul>
                    
                </div>
                
            </div>
        </div>
        <div class="casestudies" id="casestudy">
            
            
                    <!--<div class="case01" style="overflow: hidden;position: absolute;">
                        <div class="container">
                            <img src="https://images.pexels.com/photos/5668481/pexels-photo-5668481.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Avatar" class="image">
                            <div class="overlay">
                              <div class="text">Hello World</div>
                            </div>
                          </div>
                    </div>-->
                <div style="display: flex;flex-direction: column">
                    <div class="container case01">
                        <img src="https://images.pexels.com/photos/5668481/pexels-photo-5668481.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Avatar" class="image">
                        <div class="overlay">
                        <div class="text">Hello World</div>
                        </div>
                    </div>
                    <div class="container case02">
                        <img src="{% static 'img/Logo.png' %}" alt="Avatar" class="image">
                        
                    </div>
                </div>
                <div style="display: flex;flex-direction: column; margin-left: 20px;">
                    <div class="container case03">
                        <img src="https://images.pexels.com/photos/5668481/pexels-photo-5668481.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Avatar" class="image">
                        <div class="overlay">
                        <div class="text">Hello World</div>
                        </div>
                    </div>
                    <div class="container case04" style="background-color:#2196F3;">
                        
                        <div class="text" style="font-size: 40px; font-weight: bold;top: 55%;">Hello World</div>
                        
                    </div>
                    <div class="container case05">
                        <img src="https://images.pexels.com/photos/5668481/pexels-photo-5668481.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Avatar" class="image">
                        <div class="overlay">
                        <div class="text">Hello World</div>
                        </div>
                    </div>
                </div>
                <div style="display: flex;flex-direction: column; margin-left: 20px;">
                    <div class="container case06">
                        <img src="https://images.pexels.com/photos/5668481/pexels-photo-5668481.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Avatar" class="image">
                        <div class="overlay">
                        <div class="text">Hello World</div>
                        </div>
                    </div>
                    <div class="container case07">
                        <img src="https://images.pexels.com/photos/5668481/pexels-photo-5668481.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Avatar" class="image">
                        <div class="overlay">
                        <div class="text">Hello World</div>
                        </div>
                    </div>
                    
                </div>
        </div>
                
                
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>